.services_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
    margin-top: 10rem;
    transition: all ease 0.2s;
}

.service {
    background: var(--second-color);
    border-radius: 0 0 2rem 2rem;
    height: fit-content;
    transition: var(--transition);
    box-shadow:inset -9px 10px 68px 2px rgba(255, 123, 0, 0.603);

}

   .service:hover {
    background: transparent;
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(255, 136, 0, 0.744);
    }

    .service_head {
        background: floralwhite;
        padding: 2rem;
        border-radius: 0 0 2rem 2rem;
        box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    }

    .service_head h3 {
        color: rgb(188, 16, 16);
        font-size: 1.5rem;
        text-align: center;
    }

    .service_list {
        padding: 2rem;

    }

    .service_list li {
        display: flex;
        gap:1rem;
        margin-bottom: 0.8rem;
        color: aliceblue;
    }

    .service_icon {
        color: rgb(255, 196, 196);
        margin-top: 10px;
        width: 30px;
    }

    .service_list p {
    font-size: 0.9rem;
    }

/*===================Media Queries (Medium Devices) ============================*/
@media screen and (max-width:1024px){
   .services_container {
    gap: 2rem;;
   }

   .service {
    height: auto;
   }

   #services {
    margin-top: 12rem;
   }

  
  
}

/*===================Media Queries (small devices) ============================*/

@media screen and (max-width:600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap:1.6rem;
    }

}