.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3.5rem;
}

.item-portfolio {
    background: var(--second-color); 
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.item-portfolio:hover {
    border-color: var(--accent);
    background  :rgb(8, 200, 200);
}

.portfolio_image-item {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
}

.item-portfolio h3 {
    padding: 50px;
    white-space: nowrap;
    text-align: center;
}


.portfolio-item-cta {
    display: flex;
    gap: 6rem ;
    margin-bottom: 1rem;


}




/*===================Media Queries (Medium Devices) ============================*/

@media screen and (max-width: 480px) {
    .item-portfolio {
        padding: 0rem;
    }
    .btn {
        margin-left: 0!important;
    }

    

}

@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
    }
}

/*===================Media Queries (small devices) ============================*/

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr!important;
        gap: 1rem;
        margin-left: 1.6rem!important;
    }
    .item-portfolio {
        padding: -0.7rem;
    }

    .btn {
        margin-left: -20px;
    }

    
}


/*===================Media Queries (large devices) ============================*/
@media screen and (max-width: 1200px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:7.9rem;
        margin-left: 8.2rem;
    }

}

@media screen and (max-width: 1300px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:9.9rem;
        margin-left: 10.2rem;
    }

}

@media screen and (max-width: 1400px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:9.9rem;
        margin-left: 10.2rem;
    }

    .portfolio-item-cta {
        
        gap: 13rem ;
       

    }

}

@media screen and (max-width: 1500px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:7.9rem;
        margin-left: 10.2rem;
    }

    .portfolio-item-cta {
        
        gap: 12rem ;
       

    }

}

@media screen and (max-width: 1600px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:4.9rem;
        margin-left: 10.2rem;
    }

    .portfolio-item-cta {
        
        gap: 10rem ;
       

    }

}