.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2.5rem;
}

.item-portfolio {
    background: teal;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.item-portfolio:hover {
    border-color: var(--accent);
    background: transparent;
}

.portfolio_image-item {
    border-radius: 1.5rem;
    overflow: hidden;
}

.item-portfolio h3 {
    margin:1.2rem 0 2rem;
}


.portfolio-item-cta {
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;

}

/*===================Media Queries (Medium Devices) ============================*/

@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap:1.2rem
    }
}

/*===================Media Queries (small devices) ============================*/

@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}