.about_container {
    display: grid;
    grid-template-rows: 35% 50%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15%;
}

.about_me { 
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    justify-content: left;
    place-items: center;
}

.aboutme_image {
    border-radius: 40rem;
    overflow: hidden;
    width: 80%;
    height: 100%;
    transform: rotate(10deg);
    transition: var(--transition);
    background: black;
} 

.aboutme_image:hover {
    transform: rotate(0);
}

.aboutme_cards {
    display: grid;
    grid-template-columns:repeat(3 , 1fr);
    gap: 1.5rem;

}

.aboutme_card {
    background: solid blue;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1.5rem;
    text-align: center;
}

.aboutme_card:hover {
    background: transparent;
   border-color:purple ;
   cursor: default;
}

.aboutme_icon {
    color: violet;
    font-size:1.4rem;
    margin-bottom: 1rem;
}

.aboutme_card h5 {
    font-size: 1rem;
}

.aboutme_card small{
    font-size: 0.7rem;
    color: var(--color-light);

}

.aboutme_content p {
margin: 2rem 0 2.6rem;
color: var(--color-light);
}

