/** @format */

header {
  height: 125vh;
  padding-top: 9rem;
  overflow: hidden;
}

.container.header-container {
  margin-top: 10px;
}
.container.header-container h5 {
  font-size: 2rem;
  line-height: 1.2;
}

.btn.btn-primary {
  margin-left: 36px;
}

.container .header-container h1 {
  font-size: 2rem;
}

/*.header-subtitle
    {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: center;
        color: var(--text-color);
    }

    /*.header-description
    {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    } */

.header-container {
 text-align: center;
 height: 100%;
 overflow: hidden;
 justify-content: center!important;
 align-items: center!important;
              
}

/*===================CTA============================*/

.cta-header {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/*===================Socials============================*/

.header_SocialsMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  position: absolute;
  left: 20%;
  bottom: 39.9rem;
}

.header_SocialsMedia::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--sixth-color);
}



.my {
  background: linear-gradient(var (--sixth-color), transparent);
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*===================Scroll Down ============================*/

.scroll_down {
  position: absolute;
  right: 23.5rem;
  bottom: 14rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

.btn.header-btn{
  margin-left: 20px;
}

/* ================Media Queries (Small Devices ) ================ */
@media screen and (max-width: 480px) {
    
  .container.header-container {
    margin-top: 70px;
    width: var(--containter-width-sm);

}
  .container {
    margin: none;

  }
  
  .header_SocialsMedia {
    bottom: 36.9rem;
    
  }

  .scroll_down {
    bottom: -3.5rem;
    right: -1.5rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

 .btn-header {
    margin-left: 2rem;
  }

  header {
    height: 100vh;
    margin-top: 1rem;
  }
  .my {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
 
}











/*===================Media Queries (Medium Devices) ============================ */
@media screen and (max-width: 1024px) {
  header {
    height: 90vh!important;
    padding-top: 0rem;
    overflow: visible;
    margin-top: 4rem!important;

  
  
} 
.container.header-container {
   margin: 0px 0px  !important; 
   padding: 0px 0px!important;
   width: 100%;
   place-self: center!important;
 
}

  .header_SocialsMedia,
  .scroll_down {
    display: none!important;
  }
   .container.header-container h5 {
    font-size: 1.5rem!important;
    line-height: 1!important;
    white-space: nowrap!important;
  } 
   .cta-header {
    margin-top: 3rem!important;
    display: flex!important;
    gap: 2.5rem!important;
    justify-content: center!important;
    align-items: center!important;
  } 
  .my {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .btn.btn-header {
    margin-left: 2rem!important;
  } 
}


@media screen and (max-width: 1075px) {
  header {
    height: 90vh!important;
    padding-top: 0rem;
    overflow: visible;
    margin-top: 4rem!important;

  
  
} 
.container.header-container {
   margin: 0px 0px  !important; 
   padding: 0px 0px!important;
   width: 100%;
   place-self: center!important;
 
}

  .header_SocialsMedia,
  .scroll_down {
    display: none!important;
  }
   .container.header-container h5 {
    font-size: 1.5rem!important;
    line-height: 1!important;
    white-space: nowrap!important;
  } 
   .cta-header {
    margin-top: 3rem!important;
    display: flex!important;
    gap: 2.5rem!important;
    justify-content: center!important;
    align-items: center!important;
  } 
  .my {
    margin: auto;
    width: 50%;
    padding: 10px;
  
  }

  .btn.btn-header {
    margin-left: 2rem!important;
  } 
}

/*===================Media Queries (small devices) ============================*/

@media screen and (max-width: 600px) {
   header {
    height: 90vh!important;
    padding-top: 0rem;
    overflow: visible;
    margin-top: 4rem!important;
     
} 
.container.header-container {
   margin: 0px 0px  !important; 
   padding: 0px 0px!important;
   width: 100%;
   place-self: center!important;
   
}

  .header_SocialsMedia,
  .scroll_down {
    display: none!important;
  }
   .container.header-container h5 {
    font-size: 1.5rem!important;
    line-height: 1!important;
    white-space: nowrap!important;
  } 
   .cta-header {
    margin-top: 3rem!important;
    display: flex!important;
    gap: 2.5rem!important;
    justify-content: center!important;
    align-items: center!important;
  } 
  .my {
    margin: auto;
    width: 50%;
    padding: 10px;
    
  }

  .btn.btn-header {
    margin-left: 2rem!important;
  } 

}
/*===================Media Queries (smaller Devices) ============================ */


 @media screen and (max-width: 1200px) {
  .header_SocialsMedia {
    bottom: 42.9rem;
  }
  .my {
    margin: auto;
    width: 50%;
    padding: 10px;
 }
  .scroll_down {
    bottom: 25rem;
    right: -3.5rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

  .btn.btn-header {
    margin-left: 2rem;
  }

  header {
    height: 165vh;
    margin-top: -6rem;
  }

 
}
 @media screen and (max-width: 1300px) {
  .header_SocialsMedia {
    bottom: 48.9rem;
    left: -8.5rem;
  }

  .scroll_down {
    bottom: 25rem;
    right: -8.5rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

  .btn.btn-header {
    margin-left: 2rem;
  }

  header {
    height: 125vh;
    margin-top: -3rem;
  }

  .my {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

  .container.header-container h5 {
    font-size: 1.5rem!important;
    line-height: 1!important;
    white-space: nowrap!important;
  }
}

  @media screen and (max-width: 1400px) {
  .header_SocialsMedia {
    bottom: 48.9rem;
    left: -9.5rem;
  }

  .scroll_down {
    bottom: 28rem;
    right:  -9rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

  .btn.btn-header {
    margin-left: 2rem;
  }

  header {
    height: 125vh;
    margin-top: -3rem;
  }
  .my {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
  .container.header-container {
   padding: 0px 250px;
  }
}

@media screen and (max-width: 1500px) {
  .header_SocialsMedia {
    bottom: 48.9rem;
    left: -9.5rem;
  }

  .scroll_down {
    bottom: 25rem;
    right:  -13rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

  .btn.btn-header {
    margin-left: 2rem;
  }

  header {
    height: 125vh;
    margin-top: -3rem;
  }
  .my {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

  .container.header-container {
   padding: 0px 250px;
  }
} 

@media screen and (max-width: 1600px) {
  .header_SocialsMedia {
    bottom: 30rem;
    left: 9rem;
  }

  .scroll_down {
    bottom: 8rem;
    right:  7rem;
  }

  .cta-header {
    gap: 4.5rem;
  }

  .btn.btn-header {
    margin-left: 2rem;
  }

  header {
    height: 125vh;
    margin-top: -3rem;
  }

  .my {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

  .container.header-container {
   padding: 0px 250px;
  }
}