.container .container_testmonial {
    width:40%;
    padding-bottom:4rem ;

}

.client_avatar {
    width:9rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin:0 auto 1rem;
    border: 0.4rem solid var(--sixth-color);
    transition: var(--transition);
   
}

.testimonial {
    background: var(--second-color);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    box-shadow:inset -9px 10px 68px 2px rgba(255, 123, 0, 0.603);
}

.reviewfromclient {
    color: floralwhite;;
    font-size: 1.5rem;
    font-weight:300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/*===================Media Queries (Medium Devices) ============================*/
@media screen and (max-width:1024px){
    .container.container_testmonial {
        width: 60%;
    }
    
   
 }
 
 /*===================Media Queries (small devices) ============================*/
 
 @media screen and (max-width:600px) {
    .container.container_testmonial {
        width: var(--containter-width-sm);
    }
 
    .reviewfromclient {
        width: var(--containter-width-sm);
    }

    .container .container_testmonial {
        height: 100vh;
    }

 }