@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


* {
    margin: 0;
    padding :0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}

:root {
    --first-color:#8aacff;
    --second-color:#301781;
    --third-color:#6d42c7;
    --fourth-color:#e85b48; 
    --fifth-color:#f8f6f6;
    --sixth-color:#f45905;
    --containter-width-lg: 75%;
    --containter-width-md: 86%;
    --containter-width-sm: 90%;
    --transition: all 400ms ease;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body {
     font-family: 'Roboto Mono', monospace;
     background: var(--second-color);
     color:var(--sixth-color);
     line-height: 1.9;
     background-image:url(./assets/bg-texture.png)
}

/* --------------General Styles------------------*/

.container {
    width: var(--containter-width-lg);
    margin:0 auto;    
}

h1, h2, h3, h4,h5 {
font-weight: 600;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 4.5rem;
    
}

section > h2 ,section > h5 {
    text-align: center;
    color: var(--sixth-color);
}

section > h2 {
    color: var();
    margin-bottom: 2.9rem;
}

.text-light {
    color: var(--first-color);
}

a {
    color: var(--sixth-color);
    transition: var(--color-secondary-variant);
}

a:hover {
    color: var(--fifth-color);
    transition: var(--fourth-color);
}

.btn {
    width:max-content;
    color: var(--sixth-color);
    display: inline block;
    padding:0.85rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--sixth-color);
    transition: var(--fourth-color);
}

.btn:hover { 
    background: var(--sixth-color);
    color: var(--fifth-color);
    border-color: transparent;
}

.cta-zindex{
    z-index: 99;
    position: relative;

}
.btn-primary {
    background: var(--color-white);
    color: var(--sixth-color);
    /* border-color: transparent;
    transition: var(--color-primary-variant); */
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
 

    /* border-radius: 0.5rem;
    border: 1px solid var(--bg-color-variant);
    transition: var(--color-white);
    box-shadow: 0 0 0 1px var(--bg-color-variant);
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem; */
}

/* ================Media Queries ================ */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--containter-width-md);
    };

    section {
        margin-top: 6rem;
    }
}

/* ================Media Queries (Small Devices ) ================ */

@media screen and (max-width: 600px) {
    .container {
        width: var(--containter-width-sm);
    };

    section > h2 {
        margin-top: 2rem;
    }

.my {
    background: var(--bg-color-variant);
    width: 37px;
    height: 40px;
    position: absolute;
    left:calc(50%-11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
}
/* ================Scroll Down================ */


